body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

header {
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(23, 4, 26), rgba(23, 4, 26, 0.9));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.toggle, .exitBtn {
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}

.nav-overlay {
    width: 0;
    height: 100%;
    background-image: url("kc.jpg");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    transition: all 1s 0.1s cubic-bezier(.165, .84, .44, 1);
    visibility: hidden;
    transform: translate(-100%);
    z-index: 100;
    background-size: cover;
}

.show-links {
    width: 100%;
    visibility: visible;
    transform: translate(0);
    height: 100vh;
}

.about-me {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.name {
    color: #ff5a00
}

.about-text p {
    color: #f1f1f1;
    font-size: 1.1rem;
    z-index: 2;
    letter-spacing: 2px;

}

.overlay-details {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.overlay-details li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 0.5rem;
    /* margin: 0; */
}

.overlay-details li a:hover {
    color: #cac8c8;
    transition: all 0.3s 0s ease;
}

.overlay-details li {
    margin: 1.5rem;
}

#img-1 {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.imgcontainer {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    overflow: hidden;
}

@media (max-width:780px) {
    #img-1 {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width:648px) {
    .about-text p {
        /* color: #f1f1f1;
        font-size: 1rem;
        word-wrap: wrap; */
    }

    #img-1 {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width:420px) {
    #img-1 {
        width: 30vw;
        height: 30vw;
    }
}

/* @media (max-width:537px) {
    .about-text p {
        color: #f1f1f1;
        font-size: 0.8rem;
        word-wrap: wrap;
    }
} */