body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

}

*, *::after, *::before {
    box-sizing: inherit;
}

h1 {
    margin: 0;

}

.main-content {
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(23, 4, 26), rgba(23, 4, 26, 0.9));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
}

.about-me {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.name {
    color: #ff5a00
}

.toggle, .exitBtn {
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 0;
    /* margin: 1rem; */
    cursor: pointer;
    padding: 0.8rem;
    /* position: relative; */
    margin: 0.8rem;
}

.exitBtn {
    padding: 1rem;
}

.toggle-container {
    position: relative;
}

.about-text p {
    color: #f1f1f1;
    font-size: 1.2rem;
    z-index: 2;
    letter-spacing: 2px;
    animation: move-text 2s .1s;
    animation: move-text 2s .1s;
    line-height: 1.5;
    font-weight: 100;
    letter-spacing: 2px;
    /* background-color: blue; */
}

@keyframes move-text {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

#img-1 {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nav-overlay {
    width: 0;
    height: 100vh;
    background-image: url("kc.jpg");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    transition: all 1s .1s cubic-bezier(.165, .84, .44, 1);
    visibility: hidden;
    transform: translate(-100%);
    z-index: 100;
    background-size: cover;
}

.show-links {
    width: 100%;
    visibility: visible;
    transform: translate(0);
    height: 100%;
    overflow: hidden;
    position: fixed;
}


.overlay-details {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.overlay-details li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 0.5rem;
    /* margin: 0; */
}

.overlay-details li a:hover {
    color: #bbbbbb;
    transition: all .3s 0s ease;
}

.overlay-details li {
    margin: 1.5rem;
}

#img-1 {
    width: 17vw;
    height: 18vw;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.imgcontainer {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    overflow: inherit;
}

.pmatt-img {
    background-image: url("pmattScreenshot.PNG");
    background-size: cover;
    background-position: 50%;
    padding: 13rem;
    width: 35vw;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 0 2rem 4rem rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 35vh;
}

.projects-section {
    padding: 1rem;
    padding-top: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* height: 100vh; */
    background: linear-gradient(to right bottom, rgb(23, 4, 26), rgb(23, 4, 26));
}

.pmatt-info-container {
    line-height: 1.5;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-size: 1.2rem;
    width: 100%;
    font-weight: 100;
}

.heading-primary {
    text-align: center;
    margin-bottom: 4rem;
    color: #f1f1f1;
    font-size: 2.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.heading-primary:after {
    display: block;
    height: 2px;
    background-color: #ff5a00;
    content: "";
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

.pmatt-link {
    text-decoration: none;
    color: #f1f1f1;
    padding: 0.8rem;
    background-color: #ff5a00;
    margin: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    display: inline-block;
}

@media (max-width:995px) {
    .pmatt-info-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:648px) {
    #img-1 {
        width: 25vw;
        height: 25vw;
    }

    .pmatt-info-container {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 1px;
    }

}

@media (max-width:420px) {
    #img-1 {
        width: 30vw;
        height: 30vw;
    }

    .toggle, .exitBtn {
        border: 1px solid #f1f1f1;
        padding: 1rem;
        border-radius: 0.8rem;
        font-size: 2.4rem;

    }

    .heading-primary {
        font-size: 1.5rem;
    }

    .projects-section {
        padding-left: 2rem;
        padding-right: 2rem;
        /* font-size: 0.8rem; */
        /* margin: 1rem; */

    }

    .aboutpmatt p {
        display: none;
    }

    .pmatt-info-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .aboutpmatt {
        position: relative;
        /* height: 0; */
    }

    .pmatt-link {
        position: absolute;
        /* top: 10%; */
        bottom: 18rem;
        right: 10%;
    }

    .projects-section {
        padding-top: 10rem;
        /* height: 100vh; */


    }

    .toggle-container {
        width: 100%;
        margin: 0;
        /* background: linear-gradient(to right bottom, rgb(23, 4, 26), rgba(23, 4, 26, 0.9)); */
        position: fixed;
        inset: 0 0 auto;
        z-index: 100;
        background: linear-gradient(to right bottom, rgb(23, 4, 26), rgb(23, 4, 26));
        height: 15vh;
        /* padding-right: 1.2rem; */
        /* background-color:; */
    }


    @media (max-width:345px) {
        .heading-primary, .heading-primary:after {
            text-align: left;
        }
    }
}